body {
  background: url('../img/back2.jpg') 50% 0 no-repeat fixed;
  /*background: url('../img/tile.jpg');*/
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-bottom: 20px;
  background-color: black;
}

.navbar-toggler {
  background: #e9e9e9;
}

.nav-link {
  color: #e9e9e9 !important;
}

.jumbotron {
  text-align: center;
  opacity: 0.850;
  background: #0D263A;
  color: white;
}

.btn-success {
  margin-top:10px;
  border: black;
  background-color: black;
  color: #e9e9e9;
  align-items: center;
  border-radius: 0;
}

.btn-success:hover {
  border: black;
  background-color: #E0E2E1;
  color: black;

}

.btn-visit {
  margin-top:10px;
  border: black;
  background-color: #6B507D;
  color: #e9e9e9;
  align-items: center;
  border-radius: 0;
}

.btn-activate {
  margin-top:10px;
  border: black;
  background-color: #32B140;
  color: #e9e9e9;
  align-items: center;
  border-radius: 0;
}

.btn-deactivate {
  margin-top:10px;
  border: black;
  background-color: #C51555;
  color: #e9e9e9;
  align-items: center;
  border-radius: 0;
}

.form-size {
  color: white;
  opacity: 0.85;
  max-width: 640px;
  margin: 0 auto;
  background:  #0D263A;
  padding: 30px;
  margin-top: 150px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

  .form-group {
    padding-bottom: 30px;
  }

  .page-footer {
    background-color: #0D263A;
    margin-top: 300px;
    padding: 50px;
    color: white;
    opacity: 0.90;
  }

  .text-footer {
    text-align: center;
  }

  .head-title {
    background-color: #0D263A !important;
    color: white !important;
    border-color: white;
    opacity: 0.90;
    padding: 10px;

  }

  .list-group {

    margin-bottom: 10px;
  }

  .list-group-item-action {
    background-color: #0D263A !important;
    color: white !important;
    border-color: white;
    opacity: 0.90;
  }

  .list-group-item-warning {
    background-color: #6A626D !important;
    color: white !important;
    border-color: white;
    opacity: 0.90;
  }

  .list-group-item-link {
    color: white;
    text-decoration: none;
    padding: 1px;
  }

  .list-group-item-link:hover {
    color: gray;
    text-decoration: none;
  }
